<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">

  <div  *ngFor="let chat of cs.chats"
        [ngClass]="{'text-right': cs.usuario.uid == chat.uid}"
  >
    <span class="badge"
          [ngClass]="{'badge-primary': chat.uid==cs.usuario.uid,
                        'badge-success':chat.uid!=cs.usuario.uid}"
    >
      {{chat.nombre}}
    </span>
    <p>
      {{chat.mensaje}}
    </p>
  </div>
</div>

<input type="text" name="mensaje"
       class="form-control"
       (keyup.enter)="enviar_mensaje()"
       [(ngModel)]="mensaje" placeholder="Enviar mensaje">
